* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 50px;
    background-color: #ffffe6dc;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.CP {
    font-weight:bold;
}

td,th {
    border: 2px inset #ccccb6dc;
    border-collapse:collapse;
    text-align: center;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #eeeedddc;
}

table {
    border: 1px solid #ccccb6dc;
    text-align: center;
    background-color: #ffffe6dc;
}

.tabla {
    margin-bottom: 30px;
    font-size: 3.5rem;
}

.helptext {
    text-align: center;
    background-color: #fcfcdfdc;
    border:1px solid #ccccb6dc;;
    font-size: 1rem;
    padding: 10px;
    color: grey;
}

.imagen {
    cursor:crosshair;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 3px inset #ccccb6dc;
}

h1 {
    text-align: center;
}

.buttonContainer {
    position:relative;
    background-color: #ffffe6dc;
    border: none;
    margin: 0;
    padding: 0;
}

button {
    cursor:help;
    background-color: #ffffe6dc;
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 2px outset #ccccb6dc;
    position: absolute;
    top:-50%;
    right: -15%;
}



button:hover {
    border-color: yellowgreen;
    transform:scale(1.25);
}
.helptext:hover {
    border-color: yellowgreen;
}

.result {
    color:yellowgreen;
    font-weight: bold;
    background-color: #fcfcdfdc;
}

.error {
    color:red;
    font-weight: bold;
    font-size: 1rem;
}

.estabilidad {
    padding-top: 20px;
    border:2px inset #ccccb6dc;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.estatico {
    margin-top: 20px;
    border-top: 2px inset #ccccb6dc;
    padding-top: 20px;
}

.volcamiento {
    text-align: left;
    padding: 15px;
    border:2px inset #ccccb6dc;
    margin:15px;
}

.volcamiento figure {
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volcamiento figure p {
    align-self: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 0px 10px;
}

#valorka {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 0%;
    padding-top: 15px;
    background-color: #fcfcdfdc;
}

#valorpa {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 10%;
    padding-top: 15px;
    background-color: #fcfcdfdc;
}

#valorpv {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 10%;
    padding-top: 15px;
    background-color: #fcfcdfdc;
}

#valorph {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 10%;
    padding-top: 15px;
    background-color: #fcfcdfdc;
}

#sumatoriamo {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 10%;
    padding-top: 15px;
    background-color: #fcfcdfdc;
}

#factorseguridadvolteo {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 10%;
    padding-top: 15px;
    background-color: #fcfcdfdc;
}

#fsvok {
    width: 80px;
    height: 40px;
    border: 2px inset #ccccb6dc;
    translate: 0% 10%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fcfcdfdc;
}

#areas {
    display: flex;
    flex-direction: column;
}

.tablamomentos {
    display: flex;
    justify-content: center;
}

#pehormigon {
    border-right: none;
}

.deslizamiento {
    text-align: left;
    padding-left: 10px;
}

.empty {
    border: none;
}

td.cambio{
    background-color: #fcfcdfdc;
    color: grey;
}